@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
*{
    box-sizing: border-box;
    font-family: serif;
    font-weight: normal;
    background: none;
    border: none;
    letter-spacing: .4px;
}
p{
    width: 100%;
}
a{
    text-decoration: none;
    color: inherit;
}