@media screen and (min-width: 768px) {
.media {
    width: 750px;
    margin: auto auto;
    }
}

@media screen and (min-width: 992px) {
    .media {
        width: 970px;
        }
}

@media screen and (min-width: 1260px) {
    .media {
        width: 1200px;
        }
}