@media screen and (min-width: $sml) {
.media {
    width: 750px;
    margin: auto auto;
    }
}

@media screen and (min-width: $mid) {
    .media {
        width: 970px;
        }
}

@media screen and (min-width: $scrn) {
    .media {
        width: 1200px;
        }
}